body {
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 500px;
    height: 600px;
    background-color: blanchedalmond;
    align-items: center;
}

.screen {
    display: flex;
    width: 90%;
    height: 100px;
    background-color: rgb(173, 161, 168);
    margin-top: 25px;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.first-two-buttons button {
    width: 80px;
    height: 50px;
    margin-right: 20px;
    background-color: #c8102E;
    font-size: 20px;
}

.first-two-buttons {
    justify-content: space-around;

}